* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-family: verdana;
}

body {
  background-color: #f0ffff;
  margin: 1%;
  padding: 1%;
  color: #1e93a2;
}

table {
  margin: 0 auto;
}

caption {
  font-size: 170%;
}

td, th {
  border: 10% solid #000;

}

th {
  font-size: 130%;
  font-family: arial;
  background-color: #f0e68c;
  color: #734231;
}

td {
  font-size: 105%;
  padding: 4px;
  background-color: #dcdcdc;
  color: #3F51B5;
}

.code {
  font-family: monospace;
  background-color: #add8e6;
}

.centerLink {
  text-align: center;
}

.left, .right {
  display: inline-block;
}

.left {
  float: left;
  width: 15%;
}

.right {
  padding: 15px;
  background-color: #193a4a;
  float: right;
  width: 80%;
}

ol {
  font-size: 100%;
  position: fixed;
}

ol a, main a{
  text-decoration: none;
}

main a {
  font-size: 105%;
  background-color: #06d690;
}

td a {
  font-size: 100%;
  text-decoration: underline;
  background-color: inherit;
}

figure {
    display: block;
    width: 75%;
    margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}
