h1 {
  text-align: center;
  width: 50%;
  font-family: fantasy;
}

body {
  background-color: royalblue;
  margin: 1%;
  padding: 1%;
}

caption {
  font-size: 30px;
  color: white;
}

td, th {
  border: 1px solid #000;
  width: 170px;
  height: 40px;
  color: white;
}

th {
  font-size: 20px;
}

td {
  font-size: 14px;
}

.monospace {
  font-family: monospace;
  background-color: black;
}
